{{!< main-nomenu}}
<div class="row">
    <div class="col-md-12 center login-header">
        <h2>欢迎使用聚分享管理中心</h2>
    </div>
    <!--/span-->
</div><!--/row-->

<div class="row">
    <div class="row">
        <div class="well col-md-5 center login-box">
            <div id="signin-tip" class="alert alert-info">使用用户名、密码登录</div>
            <form class="form-horizontal" id="signin-form" action="/signin" method="post">
                <fieldset>
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user red"></i></span>
                        <input type="text" class="form-control" id="loginname" name="loginname" placeholder="用户名">
                    </div>
                    <div class="clearfix"></div><br>

                    <div class="input-group input-group-lg">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock red"></i></span>
                        <input type="password" class="form-control" id="password" name="password" placeholder="密码">
                    </div>
                    <div class="clearfix"></div>

                    <p class="center col-md-5">
                        <button type="submit" class="btn btn-primary">登 录</button>
                    </p>
                </fieldset>
            </form>
        </div>
        <!--/span-->
    </div><!--/row-->
</div><!--/fluid-row-->
<script src="/js/index/signin.js"></script>