
.h125px {
    height: 125px;
}
.wrap {
    background: #fff none repeat scroll 0 0;
}
a.btns {
    background: rgba(0, 0, 0, 0) url("../images/register_btn1.png") no-repeat scroll 0 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    height: 24px;
    padding-top: 6px;
    text-align: center;
    width: 111px;
}
button.btns {
    background: rgba(0, 0, 0, 0) url("../images/register_btn1.png") no-repeat scroll 0 0;
    border: 0 none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    width: 111px;
}
a.w98px {
    background-position: 0 -30px;
    width: 141px;
}
a.btns:hover {
    color: #fff;
    text-decoration: none;
}
.wrap .container {
    border: 1px solid #dedede;
    margin: 10px auto 0;
    padding: 20px 0;
    width: 988px;
}
.wrap .container .register {
    background: rgba(0, 0, 0, 0) url("../images/register_icon1.gif") repeat-y scroll center center;
    margin-bottom: 12px;
}
.h3_title {
    background: rgba(0, 0, 0, 0) url("../images/register_icon2.gif") repeat-x scroll left bottom;
    height: 40px;
    position: relative;
}
.h3_title h3 {
    background: rgba(0, 0, 0, 0) url("../images/register_title.gif") no-repeat scroll 0 0;
    height: 40px;
    text-indent: -99999px;
}
.h3_title h3.t1 {
    background-position: 0 0;
}
.h3_title h3.t2 {
    background-position: 0 -40px;
}
.h3_title h3.t6 {
    background-position: 0 -200px;
}
.h3_title .box_msg {
    color: #999;
    height: 14px;
    padding-top: 1px;
    position: absolute;
    right: 0;
    top: 21px;
}
.h3_title .box_msg a {
    color: #3366cc;
    font-weight: bold;
}
.h3_title .box_msg a:hover {
    color: #3366cc;
    font-weight: bold;
    text-decoration: none;
}
.wrap .container .register .register_login {
    float: left;
    padding: 0 40px;
    width: 416px;
}
.wrap .container .register .register_login .login_form {
    padding-top: 15px;
}
.wrap .container .register .register_login .login_form .form_item {
    height: 26px;
    margin-top: 12px;
    overflow: hidden;
    width: 100%;
}
.wrap .container .register .register_login .login_form .form_item span {
    display: inline-block;
    float: left;
    height: 26px;
}
.wrap .container .register .register_login .login_form .form_item span.i_name {
    color: #666;
    font-size: 14px;
    line-height: 26px;
    text-align: right;
    width: 115px;
}
.wrap .container .register .register_login .login_form .form_item span.i_input {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #c1c1c3;
    height: 24px;
    width: 200px;
}
.wrap .container .register .register_login .login_form .form_item span.i_input input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    height: 24px;
    line-height: 24px;
    padding: 0 2px;
    width: 196px;
}
.wrap .container .register .register_login .login_form .form_item span.w80px {
    width: 78px;
}
.wrap .container .register .register_login .login_form .form_item span.w80px input {
    width: 74px;
}
.wrap .container .register .register_login .login_form .form_item span.i_dec {
    line-height: 26px;
    margin-left: 5px;
    width: 94px;
}
.wrap .container .register .register_login .login_form .form_item span.i_code {
    height: 24px;
    margin-left: 5px;
    padding: 1px 0;
    width: 70px;
}
.wrap .container .register .register_login .login_form .form_item span.i_code img {
    height: 24px;
    overflow: hidden;
    vertical-align: top;
    width: 70px;
}
.wrap .container .register .register_login .login_form .form_item span.i_decode {
    line-height: 26px;
    margin-left: 5px;
    width: 139px;
}
.wrap .container .register .register_login .login_form .form_item span a, .wrap .container .register .register_login .login_form .form_item span a:hover {
    color: #3366cc;
}
.form_msg {
    color: #999;
    height: 18px;
    padding-left: 115px;
    padding-top: 5px;
}
.form_msg span.warm {
    color: #f00;
}
.wrap .container .register .register_login .login_form .form_btn {
    height: 29px;
    padding-left: 115px;
}
.wrap .container .register .register_new {
    float: right;
    padding: 0 40px;
    width: 412px;
}
.wrap .container .register .register_new .new_text {
    padding-top: 20px;
}
.wrap .container .register .register_new .new_text li {
    background: rgba(0, 0, 0, 0) url("../images/register_icon3.gif") no-repeat scroll 0 10px;
    color: #666;
    height: 26px;
    line-height: 26px;
    overflow: hidden;
    padding-left: 10px;
    vertical-align: top;
}
.wrap .container .register .register_new .new_btn {
    height: 29px;
    padding-top: 20px;
}
.wrongTips {
    background: #fff3f3 url("../images/layer_x.gif") no-repeat scroll 4px 4px;
    border: 1px solid #ff0101;
    color: #f00;
    height: 18px;
    padding: 6px 0 0 25px;
    width: 290px;
}
.wrap .agree {
}
.wrap .agree h3 {
    color: #666;
    font-size: 14px;
    font-weight: bold;
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
    width: 876px;
}
.wrap .agree .agree_text {
    border: 1px solid #dedede;
    color: #666;
    font-size: 14px;
    height: 488px;
    line-height: 24px;
    margin: auto;
    overflow-y: scroll;
    padding: 0 20px;
    width: 940px;
}
.wrap .agree .agree_text p {
    margin-top: 20px;
}
.wrap .agree .agree_btn {
    height: 29px;
    margin-top: 20px;
    text-align: center;
}
.wrap .find_b {
    padding: 0;
}
.find_pwd {
    height: 290px;
    padding: 70px 280px 0;
}
.find_pwd .h3_t3 {
    background: rgba(0, 0, 0, 0) url("../images/register_title.gif") no-repeat scroll 0 -80px;
    height: 40px;
    text-indent: -99999px;
}
.find_pwd .pwd_t {
    color: #999;
    font-size: 14px;
}
.find_pwd .pwd_emaill {
    color: #666;
    height: 29px;
    margin-top: 10px;
}
.find_pwd .pwd_emaill span {
    display: inline-block;
    float: left;
    height: 29px;
}
.find_pwd .pwd_emaill span.e_name {
    font-size: 14px;
    line-height: 29px;
}
.find_pwd .pwd_emaill span.e_input {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #c2c2c4;
    height: 27px;
}
.find_pwd .pwd_emaill span.e_input input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    height: 27px;
    line-height: 27px;
    padding: 0 2px;
    width: 200px;
}
.find_pwd .pwd_emaill span.e_btn {
    height: 29px;
    margin-left: 5px;
}
.password {
    border: 1px solid #e3dfdb;
    margin: 10px auto 0;
    overflow: hidden;
    width: 988px;
}
.password .method {
    margin: 20px auto 10px;
    padding-bottom: 15px;
    padding-top: 20px;
    width: 955px;
}
.password .method h2 {
    background-image: url("../images/register_bg_01.gif");
    background-position: 0 0;
    background-repeat: no-repeat;
    height: 38px;
    margin-bottom: 5px;
    margin-left: 23px;
    width: 500px;
}
.password .method .box {
    border-bottom: 1px dashed #dcdbd9;
    margin-bottom: 20px;
    padding: 0 20px 15px;
}
.password .method .box h3 {
    background-image: url("../images/register_bg_01.gif");
    background-position: 0 -39px;
    background-repeat: no-repeat;
    color: #666;
    height: 28px;
    line-height: 28px;
    margin-bottom: 18px;
    text-indent: 10px;
    width: 915px;
}
.password .method .box .fixBox {
    margin-bottom: 14px;
    overflow: hidden;
    width: 100%;
}
.password .method .box .fixBox label {
    float: left;
    font-size: 14px;
    line-height: 24px;
    text-align: right;
    width: 270px;
}
.password .method .box .fixBox .put {
    float: left;
}
.password .method .box .fixBox .put input {
    border: 1px solid #a6a6a6;
    font-size: 14px;
    height: 24px;
    text-indent: 5px;
    width: 212px;
}
.password .method .box .fixBox .put #select {
    border: 1px solid #a6a6a6;
    font-size: 14px;
    height: 24px;
    width: 214px;
}
.password .method .box .btn {
    padding-left: 270px;
}
.password .method .add {
    line-height: 18px;
    padding-left: 20px;
    padding-right: 20px;
}
.password .method .add a {
    color: #c00;
    text-decoration: underline;
}
.password .success_box {
    background-image: url("../images/register_success_bg.jpg");
    background-repeat: no-repeat;
    height: 194px;
    margin: 60px auto 50px;
    overflow: hidden;
    width: 575px;
}
.password .success_box .box {
    padding-left: 165px;
    padding-top: 65px;
}
.password .success_box .box p {
    line-height: 18px;
    margin-bottom: 10px;
    width: 395px;
}
.password .success_box .box p b {
    font-size: 14px;
}
.password .success_box .box .btn {
    margin-top: 18px;
}
.password .success_box .box .btn a img {
    margin-right: 15px;
}
.password .fail_box {
    background-image: url("../images/register_failure_bg.jpg");
    background-repeat: no-repeat;
    height: 194px;
    margin: 60px auto 50px;
    overflow: hidden;
    width: 575px;
}
.password .fail_box .box {
    padding-left: 165px;
    padding-top: 65px;
}
.password .fail_box .box p {
    line-height: 18px;
    margin-bottom: 10px;
    width: 395px;
}
.password .fail_box .box p b {
    font-size: 14px;
}
.password .fail_box .box .btn {
    margin-top: 18px;
}
.password .fail_box .box .btn a img {
    margin-right: 15px;
}
.find_s {
    height: 290px;
    padding: 70px 0 0;
}
.find_s .h3_t4 {
    background: rgba(0, 0, 0, 0) url("../images/register_title.gif") no-repeat scroll 0 -120px;
    height: 40px;
    text-indent: -99999px;
}
.find_s .s_pic {
    display: inline;
    float: left;
    margin-right: 20px;
    width: 127px;
}
.find_s .s_pic img {
    margin-top: 20px;
    vertical-align: top;
}
.find_s .s_ok {
    background: rgba(0, 0, 0, 0) url("../images/register_icon4.png") no-repeat scroll 0 0;
}
.find_s .s_fail {
    background: rgba(0, 0, 0, 0) url("../images/register_icon5.png") no-repeat scroll 0 0;
}
.find_s .s_txt {
    margin: 0 auto;
    padding-left: 140px;
    width: 456px;
}
.find_s .s_txt .txt_msg {
    color: #f60;
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
    margin-top: 10px;
}
.find_s .s_txt .txt_warm {
    color: #666;
    font-size: 14px;
    line-height: 22px;
    margin-top: 15px;
}
.find_s .s_txt .txt_btn {
    height: 29px;
    margin-top: 15px;
}
.find_s .s_txt .txt_btn a.btns {
    float: left;
    margin-right: 10px;
}
.find_s .h3_t5 {
    background: rgba(0, 0, 0, 0) url("../images/register_title.gif") no-repeat scroll 0 -160px;
    height: 40px;
    text-indent: -99999px;
}
.login_box {
    height: auto !important;
    margin: 0 auto;
    min-height: 400px;
    padding: 40px 0;
    width: 750px;
}
.login_box .box_cont {
    padding: 0 0 20px;
}
.login_box .box_cont .cont_item {
    margin-top: 15px;
}
.login_box .box_cont .top35px {
    margin-top: 35px;
}
.login_box .box_cont .cont_item span {
    float: left;
}
.login_box .box_cont .cont_item span.i_name {
    color: #666;
    font-size: 14px;
    line-height: 26px;
    text-align: right;
    width: 220px;
}
.login_box .box_cont .cont_item span.i_name label {
    color: #ff6600;
}
.login_box .box_cont .cont_item span.i_input {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #c1c1c3;
    height: 24px;
    width: 200px;
}
.login_box .box_cont .cont_item span.i_input input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    height: 24px;
    line-height: 24px;
    padding: 0 2px;
    width: 196px;
}
.login_box .box_cont .cont_item span.w80px {
    width: 78px;
}
.login_box .box_cont .cont_item span.w80px input {
    width: 74px;
}
.login_box .box_cont .cont_item span.i_code {
    height: 24px;
    margin-left: 5px;
    padding: 1px 0;
    width: 70px;
}
.login_box .box_cont .cont_item span.i_code img {
    height: 24px;
    overflow: hidden;
    vertical-align: top;
    width: 70px;
}
.login_box .box_cont .cont_item span.i_dec {
    line-height: 26px;
    margin-left: 5px;
}
.login_box .box_cont .cont_item span a, .login_box .box_cont .cont_item span a:hover {
    color: #3366cc;
}
.login_box .box_cont .cont_item input.codeBtn {
    border: 1px solid #bab9bd;
    cursor: pointer;
    height: 25px;
    margin-left: 30px;
    width: 80px;
}
.login_box .box_cont .cont_agree {
    height: 26px;
    margin-top: 15px;
    padding-left: 160px;
}
.login_box .box_cont .cont_agree input {
    float: left;
    margin: 6px 5px 0 4px;
}
.login_box .box_cont .cont_agree span {
    color: #999;
    height: 26px;
    line-height: 26px;
}
.login_box .box_cont .cont_agree span a {
    color: #3366cc;
    vertical-align: top;
    width: 320px;
}
.login_box .box_cont .cont_agree span a:hover {
    color: #3366cc;
}
.login_box .box_cont .cont_btn {
    height: 29px;
    margin-top: 35px;
    padding-left: 220px;
}
.login_box .box_cont .cont_msg {
    color: #999;
    height: 14px;
    line-height: 14px;
    margin-top: 5px;
    overflow: hidden;
    padding-left: 220px;
}
.login_box .box_cont .msg_red {
    color: #f00;
}
.login_box .box_rule {
    background-color: #fff7ee;
    border: 1px solid #ffe0c1;
    padding: 10px;
}
.login_box .box_rule .rule_tips {
    display: inline-block;
    font-weight: bold;
    padding-bottom: 5px;
}
.login_box .wrong {
    color: #f00;
    height: 15px;
    padding-left: 220px;
    padding-top: 5px;
}
.login_box .tip {
    color: #999;
    height: 15px;
    padding-left: 220px;
    padding-top: 5px;
}
.container .register_login .msgbox {
    overflow: hidden;
}
.login_box .checked {
    background: rgba(0, 0, 0, 0) url("../images/reg_bg_checked.gif") no-repeat scroll 0 0;
    float: left;
    height: 16px;
    margin: 5px 0 0 6px;
    overflow: hidden;
    width: 16px;
}
.login_box .error {
    background: rgba(0, 0, 0, 0) url("../images/reg_bg_wrong.gif") no-repeat scroll 0 0;
    color: red;
    float: left;
    height: 16px;
    margin: 5px 0 0 6px;
    overflow: hidden;
    width: 16px;
}
.login_box .error1 {
    background: rgba(0, 0, 0, 0) url("../images/reg_bg_wrong.gif") no-repeat scroll 0 0;
    color: red;
    float: left;
    height: 16px;
    margin: 5px 0 0 6px;
    overflow: hidden;
    width: 16px;
}
.login_box .error2 {
    background: rgba(0, 0, 0, 0) url("../images/reg_bg_wrong.gif") no-repeat scroll 0 0;
    color: red;
    float: left;
    height: 16px;
    margin: 5px 0 0 6px;
    overflow: hidden;
    width: 16px;
}
.regSuccess {
    margin: 50px auto;
    width: 880px;
}
.regSuccess h1 {
    background: rgba(0, 0, 0, 0) url("../images/regSuccess_h1Bg.gif") no-repeat scroll 0 0;
    height: 58px;
    margin: 60px 0 15px 112px;
}
.regSuccess p {
    color: #666;
    margin: 12px 0 0 112px;
}
.regSuccess .btnBox {
    margin: 25px 0 0 120px;
}
.regSuccess .btnBox a {
    margin-right: 10px;
}
.loginby {
    border-top: 1px dashed #ccc;
    color: #666;
    margin-top: 12px;
    padding: 12px 0 0 20px;
}
.loginby h4 {
    color: #666;
}
.login_api {
    height: 15px;
    margin: 8px 0 0;
    padding-bottom: 5px;
}
.login_api .btns {
    float: left;
    height: 14px;
    line-height: 14px;
    margin-right: 2px;
    overflow: hidden;
    padding: 5px 0 5px 23px;
    position: relative;
}
.login_api .btns s {
    background: rgba(0, 0, 0, 0) url("../images/icon_cooperation.png") no-repeat scroll 0 0;
    display: block;
    height: 23px;
    left: 0;
    position: absolute;
    top: 0;
    width: 23px;
}
.login_api .btns a {
    border-right: 1px solid #ccc;
    color: #36f;
    padding-right: 4px;
    text-decoration: none;
}
.login_api .qq s {
    background-position: 0 0;
}
.login_api .alipay s {
    background-position: 3px -29px;
}
.login_api .baidu s {
    background-position: -140px 0;
}
.login_api .renren s {
    background-position: -46px 0;
}
.login_api .net163 s {
    background-position: -69px 0;
}
.login_api .kaixing001 s {
    background-position: -92px 0;
}
.login_api .sina s {
    background-position: -115px 0;
}
.login_api .douban s {
    background-position: -158px 0;
}
.login_api .zhufub s {
    background-position: 0 -29px;
}
.login_api .tengxun s {
    background-position: -25px -29px;
}
.login_api .taobao s {
    background-position: -48px -29px;
}
.login_api .baidu s {
    background-position: -138px 1px;
}
.login_api .isone s {
    background-position: -77px -29px;
}
