<div class="div-main-path">
    <!-- breadcrumb starts -->
    <ul class="breadcrumb">
        <li>
            <a href="#">主页</a>
        </li>
        <li>
            <a href="#">列表</a>
        </li>
    </ul>
</div>   <!-- breadcrumb ends -->
