<link href="/templates/public/error/layout_1/styles/style_base/css/error.css" rel="stylesheet" type="text/css"/>
<div class="error">
    <div class="errormain">
        <h3>{{message}}</h3>
    </div>
</div>
<iframe src="{{tyHostUrl}}/preview/CommPage/fixHeight.html#320" id="iframeA" name="iframeA" style="display: none;"></iframe>