.ui-step {
  padding: 0 40px;
  margin: 30px auto;
  font-size: 14px;
  list-style: none;
  zoom: 1;
  position: relative;
  color: #b7b7b7;
  overflow: hidden;
}
.ui-step .ui-step-active {
  color: #f40;
}
.ui-step-3 li {
  width: 50%;
}
.ui-step li {
  float: left;
  height: 54px;
  margin: 0;
  width: 50%;
  position: relative;
}
.ui-step li .ui-step-line {
  height: 3px;
  background: #b9b9b9;
  display: block;
  margin: 14px 20px 0;
  line-height: 1;
  overflow: hidden;
}
.ui-step li .ui-step-icon {
  height: 50px;
  position: absolute;
  top: 0;
  width: 150px;
  text-align: center;
  left: -25px;
  font-family: tahoma;
}
.ui-step .ui-step-active .iconfont {
  background-position:0 0;
}
.ui-step-icon .iconfont {
  font-size: 30px;
  margin: 0 10px;
  width: 30px;height:28px;
  line-height: 30px;
  background:url(../common/images/iconStep.png) no-repeat -32px 0 #fff;
  position: absolute;
  top: 0;
  left: 0;
  text-shadow: 1px 1px 2px #fff,0 0 0 #ccc,1px 1px 2px #fff;
}
.iconfont {
  font-family: rei;
  font-style: normal;
  cursor: default;
  -webkit-font-smoothing: antialiased;
}
.ui-step .ui-step-active i.ui-step-number {
  color: #FFF;
}
.ui-step-icon .ui-step-number {
  line-height: 14px;
  font-style: normal;
  position: absolute;
  top: 7px;
  left: 0;
  padding: 0 20px;
  font-weight: 700;
  color: #fff;
}
.ui-step-icon .ui-step-text {
  height: 20px;
  line-height: 20px;
  position: relative;
  text-shadow: 0 1px 0 #fff;
  top: 34px;
  left: -50px;
}
.ui-step li.ui-step-end {
  position: absolute;
  top: 0;
  right: -110px;
  width: 150px;
  zoom: 1;
  _clear: both;
}

.step{text-align: center;display: none;}
.step p{margin:20px;}
.step p span{color:red;display: block;margin-top: 3px;}
.ui-input {
  width: 190px;
  padding: 5px 9px;
  line-height: 18px;
  border: 1px solid #e0e0e0;
  color: #595959;
  font-size: 12px;
}
.ui-button-lorange{  background-color: #f40;line-height: 36px;
  height: 36px;
  min-width: 180px;color: #fff;
  border: 1px solid #f40;display: inline-block;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  border-radius: 2px;
  padding: 0 20px;}
.waitSec {
  background-color: #b5b5b5 !important;
  font-size: 12px !important;
}