@charset "utf-8";
/* CSS Document */

.location{ height:40px; line-height:40px; padding-left:5px; width:1195px; color:#666; margin:auto;}
.location b a{ font-size:18px;font-family:Microsoft Yahei;color:#082f8f;}
.location .none{display:none;}

.moreclass{width:1200px;margin:0 auto;}
.moreclass .moreclass_tab{border-bottom:3px solid #d6000d;height:30px; overflow:hidden; zoom:1;}
.moreclass .moreclass_tab a{display:block;float:left;font-size:16px; font-weight:bold; line-height:30px; height:30px; text-align:center; background:#e6e6e6;margin-right:3px;color:#7c7c7c; text-decoration:none;cursor:pointer; width:132px; font-family:"microsoft yahei";}
.moreclass .moreclass_tab a span{height:30px;display:block;float:left;overflow:hidden; width:132px;}
.moreclass .moreclass_tab a:hover,
.moreclass .moreclass_tab a.cur{color:#fff; background:#d6000d;}

/*moreclass_pindao*/
.moreclass_pindao{ width:1200px; float:left;}
.moreclass_pindao .moreclass_pindao1{ width:217px; height:307px; float:left; overflow:hidden; position:relative; margin-left:0px;}
.moreclass_pindao1.toll_img{ width:217px; height:307px;}
.moreclass_pindao1.toll_info{ height:307px; width:217px;}
.moreclass_pindao .moreclass_pindao2{ width:151px; height:147px; float:left; overflow:hidden; position:relative;}
.moreclass_pindao2.toll_img{ width:151px; height:147px;}
.moreclass_pindao2.toll_info{ width:151px; height:147px;}
.moreclass_pindao .moreclass_pindao3{ width:315px; height:147px; float:left; overflow:hidden; position:relative;}
.moreclass_pindao3.toll_img{ width:315px; height:147px;}
.moreclass_pindao3.toll_info{ height:147px; width:315px;}
.moreclass_pindao li a{ position:absolute;}
.moreclass_pindao li { margin:12px 0 0 12px; display:inline;}

/*moreclass_box*/
.moreclass .moreclass_box{ width:1200px;}
.list_l{ width:582px; float:left; height:auto; margin-top:30px; background:#f5f5f5;}
.list_l .cont{ padding:0 12px;}
.list_l .cont dl{ padding:8px 0 18px 0;}
.list_l .cont dl dt{ height:28px; line-height:28px; overflow:hidden; border-bottom:1px dashed #adadad;}
.list_l .cont dl dt a{font-size:14px; color:#e73100;}
.list_l .cont dl dd{ line-height:32px;border-bottom:1px dashed #adadad;}
.list_l .cont dl dd a,
.list_l .cont dl dd span{ vertical-align:middle;}
.list_l .cont dl dd span{color:#999;font-size:10px;}


.list_r{ width:582px; float:right; height:auto; margin-top:30px; background:#f5f5f5;}
.list_r .cont{ padding:0 12px;}
.list_r .cont dl{ padding:8px 0 18px 0;}
.list_r .cont dl dt{ height:28px; line-height:28px; overflow:hidden; border-bottom:1px dashed #adadad;}
.list_r .cont dl dt a{font-size:14px; color:#e73100;}
.list_r .cont dl dd{ line-height:32px;border-bottom:1px dashed #adadad;}
.list_r .cont dl dd a,
.list_r .cont dl dd span{ vertical-align:middle;}
.list_r .cont dl dd span{color:#999;font-size:10px;}

.title_0 {position:relative;}
.title_0 h2{height:30px;font-size:18px; font-family:"microsoft yahei";border-bottom:3px solid #dd2b36; line-height:30px; background:#FFF;padding-left:10px;}
.title_0 h2 a{color:#d6000d;}
.title_0 h2 a:hover{ text-decoration:none;}
.title_0 p{position:absolute;top:0;height:36px; line-height:36px;right:0px;font-weight:bold;}
.title_0 p em{font-style:normal;color:#999;font-weight:normal;}
.title_0 p a:hover{ text-decoration:none;}
.title_0 p a:hover em{color:#cc0000;}

.title_1 {position:relative;}
.title_1 h2{height:30px;font-size:18px; font-family:"microsoft yahei";border-bottom:3px solid #ff8400; line-height:30px; background:#FFF;padding-left:10px;}
.title_1 h2 a{color:#ff8400;}
.title_1 h2 a:hover{ text-decoration:none;}
.title_1 p{position:absolute;top:0;height:36px; line-height:36px;right:0px;font-weight:bold;}
.title_1 p em{font-style:normal;color:#999;font-weight:normal;}
.title_1 p a:hover{ text-decoration:none;}
.title_1 p a:hover em{color:#cc0000;}

.title_2 {position:relative;}
.title_2 h2{height:30px;font-size:18px; font-family:"microsoft yahei";border-bottom:3px solid #eb4b96; line-height:30px; background:#FFF;padding-left:10px;}
.title_2 h2 a{color:#eb4b96;}
.title_2 h2 a:hover{ text-decoration:none;}
.title_2 p{position:absolute;top:0;height:36px; line-height:36px;right:0px;font-weight:bold;}
.title_2 p em{font-style:normal;color:#999;font-weight:normal;}
.title_2 p a:hover{ text-decoration:none;}
.title_2 p a:hover em{color:#cc0000;}

.title_3 {position:relative;}
.title_3 h2{height:30px;font-size:18px; font-family:"microsoft yahei";border-bottom:3px solid #00bfd0; line-height:30px; background:#FFF;padding-left:10px;}
.title_3 h2 a{color:#00bfd0;}
.title_3 h2 a:hover{ text-decoration:none;}
.title_3 p{position:absolute;top:0;height:36px; line-height:36px;right:0px;font-weight:bold;}
.title_3 p em{font-style:normal;color:#999;font-weight:normal;}
.title_3 p a:hover{ text-decoration:none;}
.title_3 p a:hover em{color:#cc0000;}

.title_4 {position:relative;}
.title_4 h2{height:30px;font-size:18px; font-family:"microsoft yahei";border-bottom:3px solid #5dc12b; line-height:30px; background:#FFF;padding-left:10px;}
.title_4 h2 a{color:#5dc12b;}
.title_4 h2 a:hover{ text-decoration:none;}
.title_4 p{position:absolute;top:0;height:36px; line-height:36px;right:0px;font-weight:bold;}
.title_4 p em{font-style:normal;color:#999;font-weight:normal;}
.title_4 p a:hover{ text-decoration:none;}
.title_4 p a:hover em{color:#cc0000;}

.title_5 {position:relative;}
.title_5 h2{height:30px;font-size:18px; font-family:"microsoft yahei";border-bottom:3px solid #a76ad5; line-height:30px; background:#FFF;padding-left:10px;}
.title_5 h2 a{color:#a76ad5;}
.title_5 h2 a:hover{ text-decoration:none;}
.title_5 p{position:absolute;top:0;height:36px; line-height:36px;right:0px;font-weight:bold;}
.title_5 p em{font-style:normal;color:#999;font-weight:normal;}
.title_5 p a:hover{ text-decoration:none;}
.title_5 p a:hover em{color:#cc0000;}

.title_6 {position:relative;}
.title_6 h2{height:30px;font-size:18px; font-family:"microsoft yahei";border-bottom:3px solid #4ba5eb; line-height:30px; background:#FFF;padding-left:10px;}
.title_6 h2 a{color:#4ba5eb;}
.title_6 h2 a:hover{ text-decoration:none;}
.title_6 p{position:absolute;top:0;height:36px; line-height:36px;right:0px;font-weight:bold;}
.title_6 p em{font-style:normal;color:#999;font-weight:normal;}
.title_6 p a:hover{ text-decoration:none;}
.title_6 p a:hover em{color:#cc0000;}

.title_7 {position:relative;}
.title_7 h2{height:30px;font-size:18px; font-family:"microsoft yahei";border-bottom:3px solid #9ba59d; line-height:30px; background:#FFF;padding-left:10px;}
.title_7 h2 a{color:#9ba59d;}
.title_7 h2 a:hover{ text-decoration:none;}
.title_7 p{position:absolute;top:0;height:36px; line-height:36px;right:0px;font-weight:bold;}
.title_7 p em{font-style:normal;color:#999;font-weight:normal;}
.title_7 p a:hover{ text-decoration:none;}
.title_7 p a:hover em{color:#cc0000;}

.title_8 {position:relative;}
.title_8 h2{height:30px;font-size:18px; font-family:"microsoft yahei";border-bottom:3px solid #caaa52; line-height:30px; background:#FFF;padding-left:10px;}
.title_8 h2 a{color:#caaa52;}
.title_8 h2 a:hover{ text-decoration:none;}
.title_8 p{position:absolute;top:0;height:36px; line-height:36px;right:0px;font-weight:bold;}
.title_8 p em{font-style:normal;color:#999;font-weight:normal;}
.title_8 p a:hover{ text-decoration:none;}
.title_8 p a:hover em{color:#cc0000;}

.title_9 {position:relative;}
.title_9 h2{height:30px;font-size:18px; font-family:"microsoft yahei";border-bottom:3px solid #ded4bb; line-height:30px; background:#FFF;padding-left:10px;}
.title_9 h2 a{color:#ded4bb;}
.title_9 h2 a:hover{ text-decoration:none;}
.title_9 p{position:absolute;top:0;height:36px; line-height:36px;right:0px;font-weight:bold;}
.title_9 p em{font-style:normal;color:#999;font-weight:normal;}
.title_9 p a:hover{ text-decoration:none;}
.title_9 p a:hover em{color:#cc0000;}
/*END moreclass_box*/

/*===所有品牌===*/
.brander{padding-top:10px;overflow:hidden;zoom:1;}
.brander h2{height:36px;font-size:14px;color:#000;font-weight:bold;border-bottom:1px solid #ccc; line-height:36px;}
.brander ul{margin-top:20px;}
.brander li{float:left;width:75px; overflow:hidden;display:inline;margin-left:18px;padding-bottom:10px;}
.brander li .pic{ text-align:center;width: 73px;height: 42px;}
.brander li .pic img{ vertical-align:top;border:1px solid #ddd;}
.brander li .title{ text-align:center;line-height:18px; overflow:hidden;height:18px;margin-top:5px;}
/*===end所有品牌===*/
