@charset "UTF-8";
.sku-hidden{
    display: none;
}

.sku-table{
    display: none;
}

.sku-table table>tbody>tr>td{
    padding: 0px 0px;
    width: 100px;
}

.sku-table table>tbody>tr>td>input{
    padding: 0px 0px;
}

.subject-bc {
    margin-bottom: 0px;
}

#fileQueue {
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.25);
    height: 103px;
    margin-bottom: 10px;
    overflow: auto;
    padding: 5px 10px;
    width: 300px;"
}
