<div id="custom_css">

  <link href="/js/thickbox/thickbox.css" rel="stylesheet" type="text/css"/>
  <link href="/templates/merchant/template_jfshare_xj/styles/color_1/member/layout_2/css/ucenter.css" rel="stylesheet" type="text/css"/>
  <link type="text/css" rel="stylesheet" href="/templates/public/member/layout_2/styles/style_base/css/ucenter.css">
  <!--<link href="/templates/merchant/template_jfshare_xj/styles/color_1/member/layout_2/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>-->
  <style>
    *{outline:none; padding:0; margin:0;}
    body{ font-family:"宋体"; font-size:12px; font-weight:normal; color:#333;}
    ul,ol{ list-style:none;}
    img{ border:0;}
    a{color:#333; text-decoration:none; font-family:"microsoft yahei"; outline:none;}
    a:hover{color:#fe3e4c; text-decoration:none;}
    h1,h2,h3{ font-family:"microsoft yahei"; font-size:12px; font-weight:normal;}
    .left{ float:left;}
    .right{ float:right;}
    .clear{ clear:both;}



    #pay_box {
      width: 910px;
      overflow: hidden;
      background-color: #feffdf;;
      border: 1px solid #ffcc7f;
    }

    #pay_box h4 {
      margin: 12px;
      font-size: 14px;
      background: none;
    }

    #pay_box .box1 {
      width: 100%;
      overflow: hidden;
      margin-bottom: 6px;
    }

    #pay_box .box1 ul {
      padding: 0
    }

    #pay_box .box1 ul li {
      height: 42px;
      width: 142px;
      float: left;
      margin-left: 60px;
      margin-bottom: 26px;
      overflow: hidden;
    }

    #pay_box .box1 ul li a {
      border: 1px solid #feffdf;
      height: 40px;
      width: 140px;
      display: block;
    }

    #pay_box .box1 ul li a:hover {
      border: 1px solid #f60;
    }

    #pay_box {
      width: 770px;
    }
    #pay_box .box1 ul li {
      margin-left: 40px;
    }

    /*分页*/
    .pagernext{ font-family:"KaiTi_GB2312";font-size:15px;text-align:center; padding-top:10px}
    #pagerred {color: #CC3300;text-decoration: none;}
  </style>
  </div>